.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 250px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.cell {
  width: 100px;
}

.userInput {
  width: 50px;
}